<nav>
    <div class="site-title">
        <a href="/">
            <h1>Message Board</h1>
        </a>
        <p>Write your thoughts down...Be nice!</p>
    </div>
    <ul>
        <li><a href="/">Messages</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>